.fa {
    padding: 15px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fa:hover {
    opacity: 0.9;
}
.contact-facebook {
    background: #3B5998;
    color: white;
}
.contact-instagram {
    background: #AA5544;
    color: white;
  }
.contact-snapchat {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.contact-youtube {
    background: #bb0000;
    color: white;
}
.contact-linkedin {
    background: #007bb5;
    color: white;
}
.contact-stackoverflow {
    background: orange;
    color:white;
}
.contact-discord{
    /*
    padding: 15px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    */
    background: blue;
    color: white;
}
.contact-google {
    background: #dd4b39;
    color: white;
}
img{
    height: 600px;
    border: solid black 5px;
    border-radius: 5%;
}
#mainBody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.fab {
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fas {
    padding: 15px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}