.georgia-top-section {
    background-image: url('../states-images/georgia-images/atlanta2.jpeg');
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}
.georgia-header {
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 75px;
}
.body-headers {
    text-align: center;
    margin-top: 1rem;
}
.body-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.georgia-images {
    height: 350px;
    margin: .5rem 3rem;
}
.hello {
    margin-right: 5rem;
}
.header-hr {
    width: 25%;
}
.CNN {
    color: gray;
    font-size: 12px;
}