#leftBar{
    border: solid black 5px;
 /*   width: 15%; */
    grid-area: leftPanel;
}
#helloWorld{
    text-align: center;
}
#description{
    grid-area: mainPanel;
    display: flex;
    flex-direction: row;
}
#next-area, #previous-area {
    margin: auto;
}
#next-button, #previous-button{
    color: white;
    background: skyblue;
    
}
#header{
    text-align: center;
}
#mainBody{
    display: grid;
    grid-template-areas: 
    'leftPanel mainPanel mainPanel mainPanel mainPanel';
   grid-gap: 10px;
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.9;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #AA5544;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-stack-overflow {
    background: orange;
    color:white;
  }
  .fa-discord{
    background: blue;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .fab {
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }