.containers {
  display: flex;
  flex-direction: row;
}
.left-side{
    width: 20%;
}
.left-details{
    border: solid black 3px;
    padding: 0 1rem;
}
.main-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
} 
.main-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.helloWorld{
    text-align: center;
    margin-top: .5rem;
}
a.home-links:hover {
  text-decoration: none;
  color: gray;
}
.home-links { 
  position: relative;
}
.home-links:before {  
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    color: black;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.home-links:hover:before {
  visibility: visible;
  width: 99%;
  text-decoration: none;
  color: black;
}
.next-area, .previous-area {
    margin: 0 1rem;
}
#next-button, #previous-button{
    color: white;
    background: skyblue;
    border-radius: 5px;
}
#next-button:hover, #previous-button:hover{
    background: cornflowerblue;
    cursor: pointer;
  }
.header{
    text-align: center;
}
.dots-wrapper {
  position: absolute;
  text-align: center;
  /* transform: translateX(-50%); */
  display: flex;
  bottom: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 22px 22px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
