.minnesota-top-section {
    background-image: url('../states-images/minnesota-images/city.jpeg');
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}
.minnesota-header {
    line-height: 750px;
    text-align: center;
    color: white;
    font-size: 75px;
}
.body-headers {
    text-align: center;
    margin-top: 1rem;
}
.body-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.minnesota-images {
    height: 350px;
    margin: .5rem 3rem;
}
.header-hr {
    width: 25%;
}
@media (max-width: 1000px){
    .minnesota-header {
        font-size: 50px;
        color: white;
        font-weight: 100;
    }
    .body-images {
        flex-direction: column;
    }
    .wide {
        height: 300px;
        margin: .5rem 1rem;
    }
    .not-wide {
        height: 450px;
        margin: .5rem 1.5rem;
    }
    p {
        font-size: 14px;
    }
}