.minnesota-top-section {
    background-image: url('../minnesota-images/city.jpeg');
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
}
.minnesota-header {
    line-height: 550px;
    text-align: center;
    color: white;
    font-size: 75px;
}
.body-headers {
    text-align: center;
    margin-top: 1rem;
}
.body-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.minnesota-images {
    height: 350px;
    margin: .5rem 3rem;
}
.hello {
    margin-right: 5rem;
}
.header-hr {
    width: 25%;
}