.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden; 
}
.profile-picture img {
    margin-top: -102rem;
    margin-left: -94rem;
}
.united-states-map {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
    margin-top: 1rem;
}
.header-hr {
    width: 25%;
}
.edit-button {
   margin-left: 1rem;
   margin-top: 5px;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.edit-button:hover {
    cursor: pointer;
    background-color: rgb(213, 243, 255);
}
.edit-mode {
    display: none;
    text-align: center;
    color: red;
    font-size: 22px;
    font-weight: bold;
}
.biography-post {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.bio {
    text-align: center;
}
.header-name {
    margin-top: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
.travel-header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    text-align: center;
    position: relative;
    animation: color-change 1s infinite;
    width: 70%;
}
.view-selection {
background-color: white;
color: black;
padding-left: 1rem;
padding-right: 1rem;
border: none;
}
.view-selection:hover {
    color: gray;
    cursor: pointer;
}
.user-view {
    text-align: center;
}
.upload-pic {
    text-align: center;
    display: none;
}
/*
input[type='file'] {
    color: transparent;
}
*/
.biography {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.edit-states {
    fill: transparent;
}
.edit-states:hover {
    z-index: -100;
    fill: green;
    cursor: pointer;
}
/* Small States CSS */
.connecticut {
    font-size: 5px;
}
.connecticut:hover {
    font-size: 10px;
}
.delaware {
    font-size: 6px;
}
.delaware:hover {
    font-size: 11px;
}
.hawaii {
    font-size: 11px;
}
.hawaii:hover {
    font-size: 14px;
}
.maryland {
    font-size: 9px;
}
.maryland:hover {
    font-size: 13px;
}
.massachusetts {
    font-size: 10px;
}
.massachusetts:hover {
    font-size: 14px;
}
.new-hampshire {
    font-size: 10px;
}
.new-hampshire:hover {
    font-size: 14px;
}
.new-jersey {
    font-size: 9px;
}
.new-jersey:hover {
    font-size: 14px;
}
.rhode-island {
    font-size: 5px;
}
.rhode-island:hover {
    font-size: 14px;
}
.vermont {
    font-size: 11px;
}
.vermont:hover {
    font-size: 14px;
}
.washington-dc {
    font-size: 10px;
}
.washington-dc:hover {
    font-size: 14px;
}
/* End of small states CSS */
/* Testing 
div.bg-img {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/9/91/Flexopecten_ponticus_2008_G1.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: blue;
    border: 1px solid #aaa;
    width: 250px;
    height: 250px;
    margin: 25px auto;
}
p, #data {
    text-align: center;
}
#data {
    background: red;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 1.4em;
    border: 1px solid #ddd;
}
End of testing */

@media (max-width: 1000px){
    .united-states-map {
        height: 350px;
        width: 500px;
    }
}