.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ten {
    background-color: red;
    border: solid red 5px;
}
.ben {
    border: solid blue 5px;
}
.ken {
    border: solid yellow 5px;
    background-color: yellow;
    color: yellow;
    z-index: 1;
}
img {
    z-index: -1; 
}
.united-states-map {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
}
.arkansas, .california, .florida, .georgia, .illinois, .minnesota, .missouri, .south-dakota, .texas, .utah{
    font-weight: 1000;
}
.arkansas:hover, .california:hover, .florida:hover, .georgia:hover, .illinois:hover, .minnesota:hover, .missouri:hover, .south-dakota:hover, .texas:hover, .utah:hover{
    background-color: green;
    cursor: pointer;
}
.AR, .CA, .FL, .GA, .IL, .MN, .MO, .SD, .TX, .UT {
    fill: red;
}
.AR:hover, .CA:hover, .FL:hover, .GA:hover, .IL:hover, .MN:hover, .MO:hover, .SD:hover, .TX:hover, .UT:hover {
    z-index: -100;
    fill: green;
    cursor: pointer;
}
