.travel-header {
    margin-top: 1rem;
    text-align: center;
    position: relative;
}
.under {
    position: sticky;
    top: 0;
}
.wrapper {
    height: 200vh;
}
.over {
    margin-top: -100vh;
    position: relative;
}
img {
    height: 600px;
}
.united-states-map {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
    margin-top: 50rem;
}
.arkansas-section {
    background-color: #d9d9d9;
}
.california-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
}
.california-link {
    color: white;
    font-size: 50px;
}
.california-description {
    color: white;
}
.georgia-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #d9d9d9;
}
.georgia-link {
    color: black;
    font-size: 50px;
}
.georgia-description {
    color: black;
}
.indiana-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: lightslategray;
}
.michigan-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: bisque;
}
.minnesota-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: coral;
}
.missouri-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: lightgoldenrodyellow;
}
.tennessee-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: darkolivegreen;
}
.utah-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: navajowhite;
}
.west-virginia-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: blue;
}
.arkansas, .california, .florida, .georgia, .illinois, .indiana, .michigan, .minnesota, .missouri, .ohio, .south-dakota, .tennessee, .texas, .utah, .washington-dc, .west-virginia, .wisconsin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    fill: white;
}
.arkansas:hover, .california:hover, .florida:hover, .georgia:hover, .illinois:hover, .indiana:hover, .michigan:hover, .minnesota:hover, .missouri:hover, .ohio:hover, .south-dakota:hover, .tennesseee:hover, .texas:hover, .utah:hover, .washington-dc:hover, .west-virginia:hover, .wisconsin:hover {
    background-color: green;
    cursor: pointer;
}
.AR, .CA, .DC, .FL, .GA, .IL, .IN, .MI, .MN, .MO, .OH, .SD, .TN, .TX, .UT, .WV, .WI {
    fill: red;
}
.AR:hover, .CA:hover, .DC:hover, .FL:hover, .GA:hover, .IL:hover, .IN:hover, .MI:hover, .MN:hover, .MO:hover, .OH:hover, .SD:hover, .TN:hover, .TX:hover, .UT:hover, .WV:hover, .WI:hover {
    z-index: -100;
    fill: green;
    cursor: pointer;
}