.travel-header {
    margin-top: 1rem;
    text-align: center;
    position: relative;
}
img {
    height: 600px;
}
.united-states-map {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    z-index: 2;
    margin-top: 1rem;
}
.wrapper {
    height: 750vh;
}
.state-hr {
    width: 50%;
    margin-left: 1.5rem;
}
.arkansas-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 1rem;
}
.arkansas-link {
    color: black;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.arkansas-link:hover {
    text-decoration: none;
}
.arkansas-link:before {  
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    top: 100px;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}
.arkansas-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
.arkansas-description {
    color: black;
    margin-left: 1.5rem;
    font-size: 18px;
}
.california-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem;
}
.california-link {
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.california-description {
    color: white;
    margin-left: 1.5rem;
    font-size: 18px;
}
.florida-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 1rem;
}
.florida-link {
    color: black;
    margin-left: 1.5rem;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.florida-description {
    color: black;
    margin-left: 1.5rem;
    font-size: 18px;
}
.georgia-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem;
}
.georgia-link {
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.georgia-description {
    color: white;
    margin-left: 1.5rem;
    font-size: 18px;
}
.indiana-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem;
}
.indiana-link {
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.indiana-description {
    color: white;
    font-size: 18px;
    margin-left: 1.5rem;
}
.michigan-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 1rem;
}
.michigan-link {
    color: black;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.michigan-description {
    color: black;
    font-size: 18px;
    margin-left: 1.5rem;
}
.minnesota-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem;
}
.minnesota-link{
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.minnesota-description {
    color: white;
    font-size: 18px;
    margin-left: 1.5rem;
}
.missouri-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 1rem;
}
.missouri-link {
    color: black;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.missouri-description {
    color: black;
    font-size: 18px;
    margin-left: 1.5rem;
}
.tennessee-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem;
}
.tennessee-link {
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.tennessee-description {
    color: white;
    font-size: 18px;
    margin-left: 1.5rem;
}
.utah-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem;
}
.utah-link {
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.utah-description {
    color: white;
    font-size: 18px;
    margin-left: 1.5rem;
}
.west-virginia-section {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: #404040;
    padding: 1rem; 
}
.west-virginia-link {
    color: white;
    font-size: 50px;
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.west-virginia-description {
    color: white;
    font-size: 18px;
    margin-left: 1.5rem;
}
.arkansas, .california, .florida, .georgia, .illinois, .indiana, .michigan, .minnesota, .missouri, .ohio, .south-dakota, .tennessee, .texas, .utah, .washington-dc, .west-virginia, .wisconsin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    fill: white;
}
.arkansas:hover, .california:hover, .florida:hover, .georgia:hover, .illinois:hover, .indiana:hover, .michigan:hover, .minnesota:hover, .missouri:hover, .ohio:hover, .south-dakota:hover, .tennesseee:hover, .texas:hover, .utah:hover, .washington-dc:hover, .west-virginia:hover, .wisconsin:hover {
    background-color: green;
    cursor: pointer;
}
.AR, .CA, .DC, .FL, .GA, .IL, .IN, .MI, .MN, .MO, .OH, .SD, .TN, .TX, .UT, .WV, .WI {
    fill: red;
}
.AR:hover, .CA:hover, .DC:hover, .FL:hover, .GA:hover, .IL:hover, .IN:hover, .MI:hover, .MN:hover, .MO:hover, .OH:hover, .SD:hover, .TN:hover, .TX:hover, .UT:hover, .WV:hover, .WI:hover {
    z-index: -100;
    fill: green;
    cursor: pointer;
}
@media (max-width: 1000px){
    .travel-header {
        font-size: 24px;
    }
    .united-states-map {
        height: 350px;
        width: 500px;
    }
    img {
        height: 300px;
    }
    .wrapper {
        height: 650vh;
    }
    .state-hr {
        width: 80%;
        margin-left: .5rem;
        line-height: 1px;
    }
    .arkansas-section, .florida-section, .illinois-section, .michigan-section, .missouri-section{
        flex-direction: column;
    }
    .arkansas-link, .florida-link, .michigan-link, .missouri-link {
        font-size: 24px;
        margin-left: .5rem;
    }
    .california-link, .georgia-link, .indiana-link, .minnesota-link, .tennessee-link, .utah-link, .west-virginia-link {
        font-size: 24px;
        margin-left: .5rem;
    }
    .arkansas-description, .florida-description, .michigan-description, .missouri-description {
        font-size: 12px;
        margin-left: 1rem;
    }
    .california-description, .georgia-description, .indiana-description, .minnesota-description, .tennessee-description, .utah-description, .west-virginia-description {
        font-size: 12px;
        margin-left: 1rem;
    }
    .california-section, .georgia-section, .indiana-section, .minnesota-section, .tennessee-section, .utah-section, .west-virginia-section {
        flex-direction: column;
    }
}